#{extends 'main.html' /} #{ set title:'Create new poll' /} 
#{set moreStyles:'createpoll' /}

<div id="main">
	#{form @CreatePoll.submit(), id:'createpoll', class:'greybg wrapper' }
		<h1>&{'create_poll'}</h1>
		<div class="labeledinput">
			<label>&{'createpoll.form.email'}</label>
			#{ifError 'email'}
				<p class="formError">#{error 'email' /}</p>
			#{/ifError}
			<input size="30" type="text" name="email" value="${email}" />
		</div>				
			
		<div class="labeledinput">
			<label>&{'createpoll.form.question'}</label>
			#{ifError 'question'}
				<p class="formError">#{error 'question' /}</p>
			#{/ifError}
			<input size="30" type="text" name="question" value="${question}" />
		</div>
		
		<div class="labeledinput">
			<label>&{'createpoll.form.pollType'}</label>
			#{ifError 'type'}
				<p class="formError">#{error 'type' /}</p>
			#{/ifError}				
			<select name="type" >
				<option value="single">&{'createpoll.form.pollType.single'}</option>
				<option value="multiple">&{'createpoll.form.pollType.multiple'}</option>
			</select>
		</div>	
				
		<div class="labeledinput">
			<label>&{'createpoll.form.answers'}</label>
			#{ifError 'answer'}
				<p class="formError">#{error 'answer' /}</p>
			#{/ifError}
			<ol id='answers'>
				#{list answer}
				    <li class="answerContainer">
						<input type="text" size="60" name="answer[]" value="${_}" />
						<input class="removeAnswer" type="button" value="&{'createpoll.form.removeAnswer'}" />
					</li>
				#{/list}
				<span id="AddAnswerButton"><input class='button' type="button" value="&{'createpoll.form.addAnswer'}" /></span>
			</ol>
		</div>
		<input type='submit' value="&{'createpoll.form.submit'}" class='button' />
		<input type='submit' value="&{'createpoll.form.cancel'}" class='button'>
	#{/form}
</div>

<script type="text/javascript">
$(document).ready(function(){
	$("#AddAnswerButton input").bind('click', function() {
		$('<li class="answerContainer"><input type="text" size="60" name="answer[]" value=""/> <input class="removeAnswer" type="button" value="&{'createpoll.form.removeAnswer'}" /></li>').insertBefore("#AddAnswerButton");
		$('.answerContainer:last input').focus();
		bindRemove();
	});
	function bindRemove() {
		$(".removeAnswer").bind('click', function() {
			$(this).parent().remove();
		});
	};
	bindRemove();
});
</script>