.button {
	display: inline;
}

label {
	font-family: "Lucida Grande",Tahoma,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

#pollid {
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 0 15%;
	border: 0;
	padding: 2px 5px;
	width: 70%;
	overflow-y: hidden;
	overflow-x: hidden;
	font-size: 14px;
	position: relative;
	white-space: nowrap;
}

#pollid span {
	color: #666;
}

#pollid input {
	font-size: 14px;
	border: 0;
	outline-width:0;
	padding: 0;
}