body{
	background-color: #000;
	color: #fff;
	font-family: Verdana;
	font-size: 12px;
	margin: 0;
}

a {
	color: #fff;
}

h1, h2 {
	font-family: "Lucida Grande",Tahoma,"Bitstream Vera Sans",Arial,sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
}

p {
	margin: 8px 0;
}

input[type=text],
input[type=password] {
	background-color: #fff;
}

.centered {
	text-align: center;
}

.wrapper {
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.button {
	text-decoration: none;
	padding: 5px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	cursor: pointer;
	background-color: #a4c765;
	color: #000;
	min-width: 100px;
}

.button:hover {
	background-color: #AAF53D;	
}

.labeledinput {
	margin-bottom: 5px;
}
	
.labeledinput label {
	display: block;
}

.labeledinput input {
	border: 0;
	padding: 2px 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.formErrorNotice,
.formError {
	padding: 5px;
	color: #b07327;
	background-color: #fff1c6;
	border: 1px solid #b07327;
}

#content {
	margin: 0 auto;
    max-width: 600px;
}

#header {
	margin: 5% 0;
    overflow: hidden;
    text-align: center;
    
}

#header img {
	max-width: 100%;
	border: 0;
}

.greybg {
	background-color: #434343;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.greybg p {
	text-align:justify;
}

#language {
	float: right;
	color: #333;
	margin-top: 10px;
}

#language img {
	cursor: pointer;
	margin-left: 5px;
	opacity:0.25;
	filter:alpha(opacity=25);
}

#language img:hover {
	opacity:1;
	filter:alpha(opacity=100);
}

.loading {
	display: block;
    margin: 0 auto;
}

#countdowndiv {
	text-align: center;
}