BODY {
             background: #FFFFCC; /* farba pozadia */
             color: #000000; /* farba textu */
             font-family: "Verdana", "Helvetica", sans-serif; /* typ písma */
             font-size: 12px; /* veľkosť písma */
             margin: 0px; /* okraje */
   }

H1 {		text-align: center;
	}

#DIVIDER {
             width: 100%; /* šírka */
             height: 20px; /* výška */
             background: #FF8000; /* farba pozadia */
             padding: 3px; /* odsadenie */
             margin-bottom: 5px; /* okraje */
   }

table {		border-width: 0px;}

td 		{	border-width: 0px;}
tr		{	border-width: 0px;}

.bold	{font-size: 35px;}

img
  {
  height:auto;
  width:300px;
  float:left;
  text-align:center;
  }

#logo {		
			background: #AA7239;
			background-image:url('public/images/favicon.png');
			border: '1px';
	}

#HEADER {
             width: 700px; /* šírka */
             align: center;
             height: 90px; /* výška */
             background: #AA7239; /* farba pozadia */
             padding: 5px; /* odsadenie */
             color: #FFFFFF; /* farba písma */
   }

#TABLE {
			

	}

#LEFT {
             width: 170px; /* šírka */
             height: 200px; /* výška */
             float: left; /* nadväzovanie */
             background: #FFDFBF; /* farba pozadia */
             margin: 5px; /* okraje */
             border-width: 1px; /* veľkosť kraja */
             border-color: #AA7239; /* farba kraja */
             border-style: solid; /* typ kraja */
             padding: 5px; /* odsadenie */
   }

#CONTENT {
            float: left; /* nadväzovanie */
            margin: 5px; /* okraje */
            padding: 5px; /* odsadenie */
            border-width: 1px; /* veľkosť kraja */
            border-color: #AA7239; /* farba kraja */
            border-style: solid; /* typ kraja */
   }

#FOOTER {
            width: 100%; /* šírka */
            height: 25px; /* výška */
            background: #AA7239; /* farba pozadia */
            float: left; /* nadväzovanie */
            margin-top: 5px; /* vrchný okraj */
            padding: 3px; /* odsadenie */
   }