#{extends 'main.html' /} #{ set title:'Activated poll #' + pollID /} 
#{set moreStyles:'activatepoll' /}
<div id="main">
	<div class="greybg">
		<div class="wrapper">
			<h1>&{'managepoll.activate.pollStarted.header', pollID}</h1>
			<p>&{'managepoll.activate.pollStarted.text', pollID,pollID}</p>
			<div id="countdowndiv" style="font-size: 30px">${durationString}</div>
			#{a @ManagePoll.statistics(), class:'button'}&{'managepoll.pollstatistics'}#{/a}
		</div>
	</div>
</div>
<script type="text/javascript">
		$(document).ready(function(){
			$('#countdowndiv').countDown({
				startNumber: ${duration},
				dispYear: false,
				dispMonth: false,
				dispDays: false,
				dispHours: false,
				dispMinutes: true,
				dispSeconds: true,
				dispLeadingZero: true,
				startFontSize: '30px',
				callBack: function(me) {
					$("#countdowndiv").html('00:00');
					$("#countdowndiv").css("text-decoration", "blink");
				}
			});	
		});			
</script>