#{extends 'main.html' /} #{ set title:'Manage poll #' + pollID /} 
#{set moreStyles:'managepoll' /}

<div id="main">
	<div id="activatepoll" class="greybg">
		#{form @ManagePoll.activateSubmit(), id:'activatepoll', class:'wrapper' }
			<h2>&{'managepoll.activatepoll.header'}</h2>
			<p>&{'managepoll.activatepoll.text'}</p>
			<div class="labeledinput">
		   		<label>&{'managepoll.activatepoll.form.minutes'}</label>
		   		<input type="text" name="minutes" value="5" onclick="this.value=''"/>
			</div>
			<div class="labeledinput">
		   		<label>&{'managepoll.activatepoll.form.seconds'}</label>
				<input type="text" name="seconds" value="00" onclick="this.value=''"/>
			</div>
			<input type="submit" value="&{'activate'}" class="button" />
		#{/form}
	</div>
	
	<div id="bottomoptions">
		<div id="editpoll" class="greybg">
			<div class="wrapper">
				<h2>&{'managepoll.editpoll.header'}</h2>
				<p>&{'managepoll.editpoll.text'}</p>
				#{a @ManagePoll.edit(), class:'button'}&{'managepoll.editpoll'}#{/a}
			</div>
		</div>
		
		<div id="pollstatistics" class="greybg">
			<div class="wrapper">
				<h2>&{'managepoll.pollstatistics.header'}</h2>
				<p>&{'managepoll.pollstatistics.text'}</p>
				#{a @ManagePoll.statistics(), class:'button'}&{'managepoll.pollstatistics'}#{/a}
			</div>
		</div>
	</div>
</div>