#{extends 'main.html' /} #{ set title:'Statistics for poll #' + pollID /} 
#{set moreStyles:'managepoll' /}
#{set moreScripts:'highcharts' /}

<div id="main">
	<div class="greybg">
		<div class="wrapper">
			<div id="stats"></div>
			<img class="loading" src="@{'/public/images/loading-big.gif'}" alt="&{'loading'}"/>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	Highcharts.theme = {
		colors: ["#A4C765"],
		chart: {
			backgroundColor: {
				linearGradient: [0, 0, 0, 400],
				stops: [[0, 'rgb(67, 67, 67)']]
	     	},
			borderWidth: 0,
			borderRadius: 15,
			plotBackgroundColor: null,
			plotShadow: false,
			plotBorderWidth: 0
		},
		title: {
			style: { 
				color: '#FFF',
			    font: '16px Lucida Grande, Lucida Sans Unicode, Verdana, Arial, Helvetica, sans-serif'
			}
		},
		xAxis: {
			gridLineWidth: 0,
			lineColor: '#666',
			tickColor: '#666',
			labels: {
				style: {
					color: '#fff',
			        fontWeight: 'bold'
			    }
			},
			title: {
				style: {
					color: '#fff',
					font: '12px "Lucida Grande",Tahoma,"Bitstream Vera Sans",Arial,sans-serif'
				}            
			}
		},
		yAxis: {
			alternateGridColor: null,
			minorTickInterval: null,
			gridLineColor: 'rgba(255, 255, 255, .1)',
			lineWidth: 0,
			tickWidth: 0,
			labels: {
				style: {
					color: '#fff',
					fontWeight: 'bold'
				}
			},
			title: {
				style: {
					color: '#fff',
					font: '12px "Lucida Grande",Tahoma,"Bitstream Vera Sans",Arial,sans-serif'
				}            
			}
		},
		tooltip: {
			backgroundColor: {
				linearGradient: [0, 0, 0, 50],
				stops: [[0, 'rgba(96, 96, 96, .8)']]
			},
			borderWidth: 0,
			style: {
				color: '#FFF'
			}
		},
	};
				
	var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

	$.getJSON('@{Poll.getResults()}?id=${pollID}&adminkey=&{adminkey}', function(data) {
		$('.loading').hide();
		var chart = new Highcharts.Chart({
		      chart: {
		         renderTo: 'stats',
		         defaultSeriesType: 'column',
		         marginRight: 10,
		         events: {
		             load: function() {
		                // set up the updating of the chart each second
		                var series = this.series[0];
		                setInterval(function() {
		                    $.getJSON('@{Poll.getResults()}?id=${pollID}&adminkey=&{adminkey}', function(data) {
		                        series.setData(data.votes);
		                    });
		            	}, 5000);
		        	}
				}
		    },
		    title: {
		    	text: data.question
		    },
		  	xAxis: {
				categories: data.answers,
				labels: {
			        rotation: -45,
			    	align: 'right',
		    	}
			},
			yAxis: {
				min: 0,
				title: {
					text: '&{'joinpoll.success.yAxis'}'
				}
			},
			tooltip: {
				formatter: function() {
					return ''+ this.x +': '+ this.y +' &{'joinpoll.success.votes'}';
				}
			},
		    legend: {
		    	enabled: false
		    },
		    series: [{
				data: data.votes
			}]
		});
	});
});
</script>