#{extends 'main.html' /} #{set title:'OpenARS' /}
#{set moreStyles:'index' /}

	<div id="main">
		#{form @JoinPoll.index(), id:'joinpoll'}
			<div class="wrapper">
				<span id="pollid">
					<span>&{'join_poll_pollid'}</span>
					<input type="text" name="id" value="" autocomplete="off" autofocus="autofocus" />
				</span>
				<div class="centered">
					<p>&{'join_poll_teaser'}</p>
					<input type="submit" value="&{'join_poll_submit'}" class="button" />
				</div>
			</div>
		#{/form}
		<div id="bottomoptions">
			<div id='createpoll' class="greybg">
				<div class="wrapper">
					<h2>&{'create_poll'}</h2>
					<p>&{'create_poll_teaser'}</p>
					#{a @CreatePoll.index(), class:'button'}&{'create_poll_link'}#{/a}
				</div>
			</div>
			
			#{form @ManagePoll.index(), id:'managepoll', class:'greybg' }
				<div class="wrapper">
					<h2>&{'manage_poll'}</h2>
					<p>&{'manage_poll_teaser'}</p>
					<div class="labeledinput">
						<label>&{'manage_poll_pollid'}</label><input type="text" name="pollID" value="" />
					</div>
					<div class="labeledinput">
						<label>&{'manage_poll_password'}</label><input type="password" name="adminkey" value="" />
					</div>
					<input type="submit" value="&{'manage_poll_submit'}" class="button" />
				</div>
			#{/form}
		</div>
	</div>
	<script type="text/javascript">
	$(document).ready(function(){
		$("#pollid input").focus();
	});
	$('#pollid input').bind('keypress', function(e) {
		return (e.which != 13 && e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) ? false : true ;
	})
	$('#joinpoll').bind('submit', function() {
		if($('#joinpoll input').val() == "") {
			$(this).effect("shake", { times:3 }, 50, function() {$('#pollid input').focus()});
			
			return false;
		}
	});
	</script>