#{extends 'main.html' /}
#{set title:'Join poll #${pollID}' /}
		
<table align=center>
    <tr><td colspan="2"><div> <img src="/public/images/logo.png"/></div></td></tr>
	<tr><td class="question"> <h3>Poll number: ${pollID}</h></td></tr>
	<tr><td class="question"> ${question}:</td></tr>
	<tr>
		<td class="answers">
			<form action="" method="post">
				<fieldset>
				<legend>Select your option</legend>
					#{list 0..answersArray.length()-1, as:'i'}
						<b><input type="radio" name="answer(i)" value="answer(i)"/>${answersArray.get(i)}</b><br />
					#{/list}
				<input type="submit" name="ID" value="Send"/>
				</fieldset>
			</form>	
		</td>
	</tr>
</table>