#{extends 'main.html' /}
#{set title:'Home' /}

<table border="1" align=center>
	    <tr><td colspan="2">
	    <div> <img src="/public/images/logo.png" /></div>
	    </td>
	    </tr>
	    <tr>
	    	<td colspan="2">
				<fieldset>
				<legend>Question</legend>
				<input type="text" name="ID" value="Poll ID"/>
				
				</fieldset>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<fieldset>
				<legend>Answers</legend>
				<span class="answerContainer">
				<input type="text" size="60" name="answer[]" value="Answer"/><input class="removeAnswer" type="button" value="x" /><br />
				</span>
				<span class="answerContainer">
				<input type="text" size="60" name="answer[]" value="Answer"/><input class="removeAnswer" type="button" value="x" /><br />
				</span>
				<input id="AddAnswerButton" type="button" value="Add Answer" />
				</fieldset>
				
				<br/>
				<input type="submit" value="Create Question" />
				<a href="/Application/index"><input type="submit" value="Cancel" /></a>
			</td>
			
		</tr>

	</table>

<script type="text/javascript">
	$("#AddAnswerButton").bind('click', function() {
		$('<span class="answerContainer"><input type="text" size="60" name="answer[]" value="Answer"/><input class="removeAnswer" type="button" value="x" /><br /></span>').insertBefore("#AddAnswerButton")
		bindRemove();
	});
	function bindRemove() {
		$(".removeAnswer").bind('click', function() {
			$(this).parent().remove();
		});
	};
	bindRemove();
</script>