#{extends 'main.html' /} #{set title:'Manage Poll - OpenARS' /}
#{set moreStyles:'managepoll' /}
	<div class="labeledinput">
		<div class="greybg">
		<div class="wrapper">
		 	<div class="labeledinput">
		   		<label>Edit</label>
			</div>
			#{a @EditPoll.index(), id:'editpoll', class:'button'}&{'edit_poll_link'}#{/a}
		</div>
		</div>
	</div><br>
	<div class="labeledinput">
		#{form @Application.activatepoll(), id:'activatepoll', class:'greybg' }
		<div class="wrapper">
		 	<div class="labeledinput">
		   		<label>Activation</label>
			</div>
			<input type="text" name="min" value="Minutes"/>
			<input type="text" name="seconds" value="Seconds"/>
			<input type="submit" value="&{'activate'}" class="button" />
		</div>
		#{/form}
	</div><br>
	<div class="labeledinput">
		#{form @Application.stats(), id:'stats', class:'greybg' }
		<div class="wrapper">
		 	<div class="labeledinput">
		   		<label>&{'stats'}</label>
			</div>
			<input type="submit" value="&{'stats'}" class="button" />
		</div>
		#{/form}
	</div>