#{extends 'main.html' /}
#{set title:'Home' /}
		
	<table align=center>
	    <tr>
	    <td width="70%">
				<fieldset>
				<legend>Edit</legend>
					<button name="submit" value="Edit Poll" >Edit Poll</button>
				</fieldset>
			</td>
		</tr>
	
		<tr>
		 <td width="70%">
		 <fieldset>
		 
		   <legend>Activation</legend>
		   <input type="text" name="min" value="Minutes"/>
		   <input type="text" name="seconds" value="Seconds"/>
		   <input type="button" value="Activate!" />
		   
		 </fieldset>
		 <fieldset>
		   <legend>Statistics</legend>
		   <button name="submit" value="Stats" >Stats</button>
		   </td>		 
		   </fieldset>
		 </tr>
	</table>
	   



