<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=600, user-scalable=yes" /> 
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/global.css'}" />
        #{if moreStyles}
        	<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/'}/#{get 'moreStyles' /}.css" />
        #{/if}
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/jquery-ui-1.8.11.min.js'}" type="text/javascript" charset="utf-8"></script>
        <script src="@{'/public/javascripts/countdown.js'}" type="text/javascript" charset="utf-8"></script>
        #{if moreScripts}
        	<script src="@{'/public/javascripts/'}/#{get 'moreScripts' /}.js" type="text/javascript" charset="utf-8"></script>
        #{/if}
    </head>
<body>

    	<div id="content">
			<div id="header">
				<a href="/"><img src="/public/images/logo_transparent_hd.png" /></a>
			</div>
        #{doLayout /}
        
	        <div id="language">
				<img src="@{'/public/images/flags/de.png'}" title="Deutsch"/>
				<img src="@{'/public/images/flags/da.png'}" title="Dansk"/>
				<img src="@{'/public/images/flags/en.png'}" title="English"/>
				<img src="@{'/public/images/flags/fi.png'}" title="Suomi"/>
				<img src="@{'/public/images/flags/fr.png'}" title="Français"/>
				<img src="@{'/public/images/flags/lv.png'}" title="Latviešu valoda"/>
				<img src="@{'/public/images/flags/ru.png'}" title="Русский язык"/>
				<img src="@{'/public/images/flags/sk.png'}" title="Slovenský jazyk"/>
				<img src="@{'/public/images/flags/es.png'}" title="Español"/>
				<img src="@{'/public/images/flags/tr.png'}" title="Türkçe"/>
			</div>
        </div>
        
        <script type="text/javascript">
		$(document).ready(function(){
			$("#language img").bind('click', function() {
				lang = $(this).attr('src');
				lang = lang.replace('@{'/public/images/flags/'}/', '').replace('.png', '');
				$.ajax({
					  url: "@{Application.changeLang()}?lang="+lang,
					  success: function(){
						window.location.reload();
					  }
				});
			});
		});
		</script>
    </body>
</html>
